@import url('https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gochi Hand', cursive;
    background: linear-gradient(to left, 
    rgb(40, 40, 40),
    rgb(40, 40, 40))
    
}
header{
    overflow: hidden;

    padding: 30px;
    background: linear-gradient(to right, 
                rgba(14, 236, 151, 0.65) ,
                rgba(128, 13, 223, 0.65)),
                url(../img/guitar-1.jpg);
    height: 90vh;
    width: 100vw;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    clip-path: polygon(2% 11%, 3% 7%, 96% 16%, 96% 27%, 91% 79%, 10% 93%, 8% 89%);
    position: relative;
}

.container{
    position: absolute;
    color: white;
    font-size: 22px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container h1{
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-align: center;
}
form{
    position: relative;
    display: flex;
    width: 500px;
}
input{
    width: 100%;
    max-width: 100%;
    height: 45px;
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
    outline: none;
}
button{
    width: 100px;
    max-width: 100%;
    /* height: 40px; */
    background: #9E2092;
    color: white;
    border-radius: 50px;
    border: none;
    position: absolute;
    right: 2px;
    bottom: 2px;
    top: 2px;
    font-weight: 600;
    outline: none;
}
button:hover{
    transform: scale(0.95);
}
li{
    list-style: none;
}

.result{
    color: white;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 20px;
    position: relative;
    display: block;

}
#video{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    margin-bottom: 50px;
    color: green;
    color: white;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
.song-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translate(-50% ,0);
    background: linear-gradient(to left, 
    rgb(40, 40, 40),
    rgb(40, 40, 40))

}
.song-list li{
    margin-bottom: 20px;
    width: 500px;
    justify-content: space-evenly;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 18px;
    text-decoration: overline;
    text-decoration-color: rgb(12, 147, 100);
    position: relative;
    /* line-height: 30px; */
}

.song-list li::after{
    content: "";
    position: absolute;
    right: -20px;
    left: -20px;
    bottom: -4px;
    height: 3px;
    background: rgb(12, 147, 100);
    display: inline-block;
}
.song-list li div{
    float: left;
}

.song-list li span{
    float: right;
    background-color: #9E2092;
    border: 0;
    font-size: 12px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    padding: 4px 10px;
    text-transform: capitalize;
}
.btn{
    background-color: rgb(26, 170, 115);
    margin: 0 auto;
    border: 0;
    font-size: 14px;
    border-radius: 10px;
    color: rgb(199, 193, 193);
    cursor: pointer;
    font-weight: 400;
    padding: 6px 20px;
    width: 100px;
    text-transform: capitalize;
}


@media only screen and (max-width: 800px) {
    header{
        height: 70vh;
        width: 95%vw;
    }
    .container{
        font-size: 20px;
        
    }
    form{
        max-width: 300px;
    }
    input{
        width: 100%;
        height: 40px;
        padding: 12px 20px;
  
    }
    button{
        width: 80px;
        max-width: 100%;
    }
    .song-list li{
        margin-bottom: 15px;
        max-width: 300px;
        letter-spacing: 0.5px;
        font-size: 17px;
        
    }
   
    
  }


/* Importing the Gochi Hand font */
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

/* Global styles */
body {
    font-family: 'Gochi Hand', cursive;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
}

/* Header styles */
header {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

/* Navigation styles */
nav {
    background: #444;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #00d4ff;
}

/* Main content styles */
main {
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Section styles */
section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
    border-bottom: 2px solid #6a11cb;
    display: inline-block;
}

section p {
    font-size: 1.1rem;
    margin: 10px 0;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    margin-top: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    nav a {
        font-size: 1rem;
    }

    section h2 {
        font-size: 1.5rem;
    }

    section p {
        font-size: 1rem;
    }
}
